<div class="a-container">
    <div class="container">
        <div>
            <form #regForm='ngForm' (ngSubmit)="register()" ngNativeValidate>

                <app-mid-title [title]="title"></app-mid-title>

                <!-- Name -->
                <app-subtitle title="Name"></app-subtitle>
                <app-hr></app-hr>
                <div ngModelGroup='name' class="row">
                    <div class="form-group col-md-4">
                        First Name: <input type="text" class="form-control" name="fName" [(ngModel)]="pInfo.name.fName"
                            required>
                    </div>
                    <div class="form-group col-md-4">
                        Middle Name<input type="text" class="form-control" name="mName" [(ngModel)]="pInfo.name.mName">
                    </div>
                    <div class="form-group col-md-4">
                        Last Name<input type="text" class="form-control" name="lName" [(ngModel)]="pInfo.name.lName"
                            required>
                    </div>
                </div>

                <app-hr></app-hr>

                <!-- Date of Birth -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <app-subtitle title="Date of Birth"></app-subtitle>
                            <app-hr></app-hr>
                            <input class="form-control col-md-12" type="date" name="dob" [(ngModel)]="pInfo.dob"
                                [max]="date" required>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="form-group">
                            <app-subtitle title="Gender"></app-subtitle>
                        </div>
                        <app-hr></app-hr>
                        <label>
                            <input type="radio" class="" placeholder="" name="gender" value='male'
                                [(ngModel)]="pInfo.gender"> Male
                        </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label>
                            <input type="radio" class="" placeholder="" name="gender" value='female'
                                [(ngModel)]="pInfo.gender"> Female
                        </label>
                    </div>
                </div>

                <app-hr></app-hr>

                <!-- Contact Details -->
                <app-subtitle title="Contact Details"></app-subtitle>
                <app-hr></app-hr>
                <div ngModelGroup='contact'>
                    <div class="row">
                        <div class="form-group col-md-3">
                            Mobile No. 1<input type="text" class="form-control" name="mobileNo1"
                                [(ngModel)]="pInfo.contact.mobileNo1">
                        </div>
                        <div class="form-group col-md-3">
                            Mobile No. 2<input type="text" class="form-control" name="mobileNo2"
                                [(ngModel)]="pInfo.contact.mobileNo2">
                        </div>
                        <div class="form-group col-md-2">
                            City Code<input type="text" class="form-control" name="cityCode"
                                [(ngModel)]="pInfo.contact.cityCode">
                        </div>
                        <div class="form-group col-md-4">
                            Landline No.<input type="text" class="form-control" name="landlineNo"
                                [(ngModel)]="pInfo.contact.landlineNo">
                        </div>
                    </div>
                </div>

                <app-hr></app-hr>

                <!-- Guardian's Details -->
                <app-subtitle title="Guardian's Details"></app-subtitle>
                <app-hr></app-hr>
                <div ngModelGroup='guardian'>
                    <div class="row">
                        <div class="form-group col-md-7">
                            Father's Name<input type="text" class="form-control" name="fatherName"
                                [(ngModel)]="pInfo.guardian.fatherName">
                        </div>
                        <div class="form-group col-md-5">
                            Father's Mobile No.<input type="text" class="form-control" name="fatherMobile"
                                [(ngModel)]="pInfo.guardian.fatherMobile">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-7">
                            Mother's Name<input type="text" class="form-control" name="motherName"
                                [(ngModel)]="pInfo.guardian.motherMobile">
                        </div>
                        <div class="form-group col-md-5">
                            Mother's Mobile No.<input type="text" class="form-control" name="motherMobile"
                                [(ngModel)]="pInfo.guardian.motherMobile">
                        </div>
                    </div>

                </div>

                <app-hr></app-hr>

                <!-- Present Address -->
                <app-subtitle title="Present Address"></app-subtitle>
                <app-hr></app-hr>
                <div ngModelGroup='presentAddress'>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                Full Address<input type="text" class="form-control" name="address1"
                                    [(ngModel)]="pInfo.presentAddress.address">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                Pincode<input type="text" class="form-control" name="pincode1"
                                    [(ngModel)]="pInfo.presentAddress.pincode">
                            </div>
                        </div>
                    </div>
                </div>

                <app-hr></app-hr>

                <!-- Permanent Address -->
                <app-subtitle title="Permanent Address"></app-subtitle>
                <app-hr></app-hr>
                <div ngModelGroup='permanentAddress'>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                Full Address<input type="text" class="form-control" name="address2"
                                    [(ngModel)]="pInfo.permanentAddress.address">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                Pincode<input type="text" class="form-control" name="pincode2"
                                    [(ngModel)]="pInfo.permanentAddress.pincode">
                            </div>
                        </div>
                    </div>
                </div>
                <br />

                <!-- Subnit and move to 'Academic Informaiton' -->
                <div class="align-center">
                    <button type="submit" class="btn btn-dark form-control" id="register">Next</button>
                </div>
            </form>
        </div>
    </div>
</div>