<!-- Simulate a smartphone / tablet -->
<div class="mobile-container">
    <!-- Top Navigation Menu -->
    <div class="topnav">
        <a href="#home" class="active">Logo</a>
        <div id="myLinks">
            <a href="#news">News</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
        </div>
        <a href="javascript:void(0);" class="icon" (click)="onClick()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <!-- End smartphone / tablet look -->
</div>