<section class="a-container">
    <div class="container">
        <div>
            <form #regForm='ngForm' (ngSubmit)="register()">
                
                <app-mid-title [title]="title"></app-mid-title>
                
                <div>
                    <div class="row">
                        <div class="form-group col-md-12 text-justify">
                            <app-subtitle title="TERMS AND CONDITIONS"></app-subtitle>
                            <app-hr></app-hr>
                            <div class="tnc mt-4 mb-4">
                                <label class="ml-4">TERMS AND CONDITIONS</label>
                                <ol>
                                    <li>
                                        The statements made / information provided by the Service Provider
                                        in the Empanelment cum Vendor Registration Form (“Form”) and the
                                        declaration made therein read with these Terms and Conditions
                                        (“Terms and Conditions”) shall be the basis of the contract between
                                        M R ENTERPRISES (the Company) and the Service Provider and the
                                        Service Provider agrees to be legally bound by the same.
                                    </li>
                                    <li>
                                        The engagement of the empanelled Service Provider will be at the sole
                                        discretion of the Company. The Service Provider will be engaged for
                                        the Services, based on the Statement of Work with all the necessary
                                        details, issued separately by the Company. Empanelment does not
                                        mean that work has to be allotted to theService Provider.
                                    </li>
                                </ol>
                                <label class="ml-4">ROLE AND OBLIGATION OF THE SERVICE PROVIDER</label>
                                <ol start=3>
                                    <li>
                                        The Service Provider shall assist the Company in conducting /
                                        supervision of the assessment / exam related activities carried out by
                                        the Company, at the centers which will be communicated by the
                                        Company and will abide by the examination procedure manual as
                                        informed or made available to the Service Provider.
                                    </li>
                                    <li>
                                        The Service Provider shall regularly provide reports at regular
                                        timelines as communicated by the Company.
                                    </li>
                                    <li>
                                        The Service Provider shall be diligent in: carrying out the event /exam
                                        related services including but not limited to reaching the designated
                                        venue on time, carrying out the invigilation/ supervision /
                                        administration of event / exams smoothly and efficiently,
                                        safeguarding the assets / resources of the Company, handling the
                                        question papers, answer sheets and related documents carefully,
                                        managing the logistics, wherever required, efficiently etc.
                                    </li>
                                    <li>
                                        The Service Providershall be prompt in complying with instructions as
                                        may be issued by the Company from time totime.
                                    </li>
                                    <li>
                                        The Service Provider agrees to abide by this Terms and Conditions as
                                        may be modified by the Company from time to time.
                                    </li>
                                    <li>
                                        The Service Provider agrees that he/she will not use any unethical
                                        means or use any fraudulent practice (including bribery, corruption
                                        and prohibited business practices) or engage in any misbehavior with
                                        the employees, clients or any third parties engaged by / with the
                                        Company.
                                    </li>
                                    <li>
                                        The Service Provider shall not receive or pay any cash on behalf of the
                                        Company to any third parties engaged by the Company.
                                    </li>
                                    <li>
                                        The Service Provider shall immediately notify the Company in writing
                                        if he/she is involved or has committed any act amounting to moral
                                        turpitude, financial irregularities or has been convicted or prosecuted
                                        by any statutory / regulatory authority(ies).
                                    </li>
                                    <li>
                                        The Service Provider hereby agrees that he /she shall not appoint any
                                        representative(s) or sub-contract the activities to any other third
                                        party, without prior written consent from the Company and that
                                        he/she will be solely responsible for all his/her acts to the Company
                                        and third parties.
                                    </li>
                                    <li>
                                        The Service Provider hereby agrees to cooperate with the Company
                                        for conducting any due diligence as carried out by the Company or its
                                        authorized representative from time to time.
                                    </li>
                                    <li>
                                        The Service Provider hereby agrees to abide by all the policies, rules,
                                        standards, code of conduct, guidelines and procedures of the
                                        Company as applicable for the conduct of its activities.
                                    </li>
                                    <li>
                                        The Service Provider agrees to comply with all applicable laws and
                                        regulations.
                                    </li>
                                </ol>
                                <label class="ml-4">CONFIDENTIALITY</label>
                                <ol start="15">
                                    <li>
                                        Service Provider shall not, during the term of this engagement or any
                                        time thereafter, use confidential information of Company, its clients,
                                        its vendors, gathered due to engagement with the Company, for any
                                        purpose, whatsoever, other than for the performance of the services
                                        for which the Service Provider is engaged or disclose any aforesaid
                                        confidential information to any third party. Service Provider shall not
                                        disclose the exam questions or answers or discuss any of the content
                                        of the exam materials with any person nor will copy or attempt to
                                        make copies exam materials.
                                    </li>
                                </ol>
                                <label class="ml-4">INDEMNITY</label>
                                <ol start="16">
                                    <li>
                                        The Service Provider shall indemnify, defend and hold Company
                                        harmless from any loss, harm, costs, expenses or damages that may be incurred by
                                        the Company (including any expense arising on account
                                        of a decision of a Court or other authority) and /or any claims or suits
                                        against Company arising directly or indirectly from any act, omission
                                        or negligence, willful misconduct, fraud of the Service Provider or due
                                        to any breach of the terms of the Terms and Conditions. Service
                                        Provider agrees to pay any amount awarded in such claims or suits
                                        and attorney fees incurred by the Company.
                                    </li>
                                    <li>
                                        Company shall not be liable for any consequential, indirect, special or
                                        incidental damages for lost profit, business failure or loss incurred by
                                        the Service Provider. The total cumulative liability of Company under
                                        the Terms and Conditions shall be limited to 50% of the amount that
                                        has been already paid or agreed to be paid by the Company to the
                                        Service Provider for the specific work as per the Work Orderissued.
                                    </li>
                                    <li>
                                        Any loss or damage, either direct or indirect to person or property, or to
                                        the Company, arising out of any omission or commission by the Service
                                        Provider, would have to be made good by the Service Provider, and
                                        Company reserves the right to quantify the amount of such liability and
                                        deduct the entire amount payable to the Service Provider, besides levying
                                        a penalty on the Service Provider, subject to a maximum of Rs.10000/- for
                                        any particular event or Work Order.
                                    </li>
                                </ol>
                                <label class="ml-4">COMPENSATION</label>
                                <ol start="19">
                                    <li>
                                        The Company shall pay to the Service Provider fee as per the rates
                                        specified in the Work Order. The fee so agreed will form part of this
                                        Terms and Conditions. The Service Provider hereby authorizes the
                                        Company to recover any fee paid erroneously by the Company by
                                        appropriating the same from the fee payable to him/her.
                                    </li>
                                    <li>
                                        In case of non-compliance of any of the Terms and Conditions
                                        mentioned herein and non-compliance of any guidelines provided by
                                        the Company, the Company may suspend further work and pay-out of
                                        the fee etc. until the same is complied with.
                                    </li>
                                    <li>
                                        In case of termination of the engagement as Service Provider as per
                                        Clause 23 herein below, the Company shall not be liable to pay any
                                        Fee to the ServiceProvider.
                                    </li>
                                    <li>
                                        The Fee payable to Service Provider shall be inclusive of all taxes and
                                        shall be subject to withholding taxes as per applicable rates.
                                    </li>
                                </ol>
                                <label class="ml-4">PRINCIPAL TOPRINCIPAL</label>
                                <ol start="23">
                                    <li>
                                        These Terms and Conditions are on a principal-to-principal basis and
                                        do not create and shall not be deemed to create any employeremployee
                                        relationship between the Company and the Service
                                        Provider. The Service Provider shall have no authority to insure any
                                        obligations on behalf of the Company or to make any promise,
                                        representation, statement or contract of any nature on behalf of the
                                        Company, with any third party, except as expressly provided in these
                                        Terms and Conditions or otherwise allowed by Company inwriting
                                    </li>
                                </ol>
                                <label class="ml-4">TERMINATION</label>
                                <ol start="24">
                                    <li>
                                        The engagement of the Service Provider shall be liable to be
                                        terminated with immediate effect by the Company forthwith:
                                        <ol type="a">
                                            <li>
                                                If he/she is found to be a minor or adjudicated as an insolvent or
                                                found to be of unsound mind by a Court ofcompetent jurisdiction.
                                            </li>
                                            <li>
                                                If in course of any judicial proceeding it is found that he/she has
                                                knowingly participated in or connived at any fraud, dishonesty or
                                                misrepresentation, financial irregularities against the Company or
                                                its employees.
                                            </li>
                                            <li>
                                                If the Company is satisfied that any statement made in the Form
                                                was false or misleading or calculated tomislead.
                                            </li>
                                            <li>
                                                If he/she acts in any other manner prejudicial to the interest of the
                                                Company or its employees or client of the Company.
                                            </li>
                                            <li>
                                                If he/she does not comply with the applicable legislation, statutes,
                                                regulations, administrative rulings or requirement oflaw.
                                            </li>
                                            <li>
                                                Non-compliance of any of the clauses of the Terms andConditions
                                                specified herein and the changes made to the Terms and
                                                Conditions from time to time.
                                            </li>
                                            <li>
                                                For alleged fraudulent acts or misconduct by the Service Provider at
                                                the sole discretion of the Company
                                            </li>
                                        </ol>
                                    </li>
                                    <li>
                                        Upon termination, the Service Provider shall forthwith handover all
                                        documents, papers, materials and assets pertaining to the Company
                                        or its employees to the Company
                                    </li>
                                    <li>
                                        In respect of all disputes arising under this empanelment, the Courts
                                        in RANCHI alone shall have jurisdiction.
                                    </li>
                                </ol>
                            </div>

                            <!-- Accept Terms & Condition -->
                            <input type="checkbox" name="termsAgreed" [(ngModel)]="agreedTerms.agreed">&nbsp;&nbsp;
                            <span>I accept all the terms and conditions and agree for my engagement at any location and
                                dates as will be informed to me. I
                                also certify that all the information as provided above is true, complete and correct to
                                the best of my knowledge. I
                                understand that if any information provided is untrue then M R ENTERPRISES reserves the
                                right to forfeit / recover
                                amount of the damages, take any legal action and cancel my appointment without any prior
                                notice or intimation.</span>
                        </div>
                    </div>
                </div>
                <br />

                <!-- Subnit and move to 'Dashboard' -->
                <div class="align-center">
                    <button type="submit" class="btn btn-dark form-control">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>