.row{
    background: white;
    width: 100%;
    margin: 0;
    padding: 0;
    .img-container{
        background: white;
        //width: 100px;
        margin: auto;
        margin-bottom: 40px;
        img{
            //width: 100%;
            height: 50px;
            background: white;
            //border-radius: 50%;
        }
    }
}
marquee{
    display: block;
}