/* You can add global styles to this file, and also import other style files */
@import "https://use.fontawesome.com/releases/v5.3.1/css/all.css";
body {
    // background: red;
    font-family: Baskerville Old Face;
    padding: 1%;
}
input[type='text'], input[type='number'], input[type='password'], input[type='date'], button {
    box-shadow: 2px 2px 2px #999;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
